* {
    margin: 0;
    padding: 0.2%;
}

@font-face {
    font-family: pacific;
    src: url(font/Pacifico-Regular.ttf);

}

@font-face {
    font-family: ofl;
    src: url(font/DM_Serif_Display/DMSerifDisplay-Italic.ttf);

    font-family: ofl2;
    src: url(font/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}

@media only screen and (max-width: 1600px) and (min-width: 1281px) {
    .container {
        background-color: #f7f7f7;
        /* height: 700px; */
        display: grid;
        /* grid-template-rows: 133px 133px 133px;
        grid-template-columns: 133px 133px 133px; */
        /* grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr); */
        grid-template-columns: 0.5fr 1fr 1fr;
        grid-template-rows: 45% 45% 10%;
        row-gap: 12px;
        column-gap: 12px;
        overflow: hidden;
    }

    .item {
        background-color: #f7f7f7;

    }

    .banner2 {
        display: none;
    }

    .main {
        /* grid-column-start: 1;
        grid-column-end: 4; */
        grid-column: 2 / span 3;
        background-image: url("img/indianfood.jpg");
        background-position: center;
        background-size: cover;
        display: grid;
        grid-template-rows: 1fr 30px;
        align-items: flex-end;
        row-gap: 50px;
    }

    .sidebar {
        grid-row: 1 / span 2;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .footer {
        grid-column: 1 / span 4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #f7f7f7;
        border-top: darkgreen solid 3px;
        width: 95%;
        justify-self: center;
    }


    .form {
        grid-column: 2 / span 3;
    }

    .form {
        display: grid;
        background-color: #f7f7f7;
        grid-template-rows: 0.2fr 1fr;
        row-gap: 12px;
    }

    .section {
        background-color: #f7f7f7;
    }

    th {
        font-family: pacific;
    }

    .flex1 {
        display: grid;
        background-color: #f7f7f7;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 5px;
        overflow-y: scroll;
    }

    .flex {
        background-color: #f7f7f7;
    }

    .text {
        font-family: ofl2;
    }

    .part1 {
        background-color: #f7f7f7;
        display: grid;
        grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        /* justify-content: center;
        align-items: center; */
    }

    input[type="button"] {
        background-color: #EFFDEE;
        border-color: darkgreen;
        color: darkgreen;
        font-family: ofl2;
        font-weight: bold;
        height: 30%;
        width: 30%;
    }

    input[type="email"] {
        border-color: darkgreen;
        color: darkgreen;
        font-family: ofl2;
        font-weight: bold;
        height: 30%;
        width: 40%;
        text-align: center;
    }

    .part2 {
        background-color: #f7f7f7;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .circle {
        height: 80px;
        width: 80px;
        background-color: #E4FDE1;
        border-radius: 50%;
        text-align: center;
        align-items: center;
        justify-self: center;
        color: darkgreen;
        border: darkgreen 2px solid;
    }

    #black {
        background-color: black;
        color: white;
        opacity: 0.7;
    }

    p {
        padding: 20px 0;
    }

    .home,
    .pics,
    .blog,
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #f7f7f7;

    }

    .circle p {
        font-family: pacific;
    }

    .logo .text {
        font-size: larger;
        font-weight: bold;
        color: darkgreen;
        margin-top: 15%;
        font-family: ofl2;
        margin-left: 25%;
    }

    .img1 {
        background-image: url("img/home.png");
        background-position: right;
        background-size: 40px;
        margin-right: 5%;
        /* background-size: contain; */
        background-repeat: no-repeat;
    }

    .circlelogo {
        justify-self: center;
    }

    .img2 {
        background-image: url("img/pics.png");
        background-position: right;
        background-size: 40px;
        margin-right: 5%;
        background-repeat: no-repeat;
    }

    .img3 {
        background-image: url("img/blog.png");
        background-position: right;
        background-size: 40px;
        margin-right: 5%;
        background-repeat: no-repeat;
    }

    .img4 {
        background-image: url("img/About.webp");
        background-position: right;
        background-size: 40px;
        margin-right: 5%;
        background-repeat: no-repeat;
    }

    .flex {
        display: grid;
        grid-template-rows: 1fr 1fr;
        column-gap: 5px;

    }

    .i1 {
        background-image: url("img/golgappa.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .i2 {
        background-image: url("img/samosa.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .i3 {
        background-image: url("img/Masala-Dosa.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .i4 {
        background-image: url("img/butter_chicken.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }


    .image1 {
        grid-column: 1 / span 3;
    }

    .banner {
        grid-column: 1;
    }

    table {
        background-color: #f7f7f7;
        padding: 0;
        margin: 0;
        font-size: larger;
        width: 100%;

    }

    .imagemail img {
        height: 50%;
        width: 50%;
    }

    .banner h2 {
        background-color: #f7f7f7;
        opacity: 0.7;
        width: fit-content;

    }

    .subs {
        display: grid;
        grid-template-columns: 0.1fr 1fr 0.5fr;
        align-items: center;
        grid-template-rows: none;
    }

    .table {
        align-self: center;
        padding: 0%;
        margin: 0%;
    }

    .footer img {
        height: 66%;
        width: 6%;
        padding-right: 5px;
        float: right;
    }

    p {
        font-family: ofl;
    }

    h1 {
        color: darkgreen;
        font-family: pacific;
        font-size: x-large;
    }

    .text p {
        font-family: ofl;
        font-weight: bold;
    }

    th {
        margin: 0;
        padding: 0;
        height: 28px;
    }

    #t1 {
        background-color: #EFFDEE;
    }

    #t2 {
        background-color: #E4FDE1;
    }

    #t3 {
        background-color: #C6EDC3;
    }

    #t4 {
        background-color: #A7DCA5;

    }

    .left {
        font-family: ofl;
        font-weight: bold;

    }

    .part2 {
        font-family: ofl2;
        text-decoration: underline;
        text-align: center;

    }

    a:active {
        color: darkgreen;
    }

    a:hover {
        color: darkgreen;
    }

    a:visited {
        color: darkgreen
    }

    a:link {
        color: darkgreen;
        text-decoration: none;

    }

    .extranav {
        display: none;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 701px) {

    .container {
        background-color: #f7f7f7;
        display: grid;
        grid-template-rows: 15% 50% 50% 10%;
        /* row-gap: 8px; */
        row-gap: 12px;
        column-gap: 12px;
    }

    div.imagemail {
        display: none;
    }

    .main {

        background-image: url(img/indianfood2.jpg);
        background-position: center;
        background-size: cover;
        display: grid;
        grid-template-rows: 1fr 32px;
        align-items: flex-end;
        row-gap: 12px;
        padding: 0;
        margin: 0;
    }

    .logo .text {
        text-align: center;
    }

    .part1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;

    }

    .item {
        background-color: #f7f7f7;
    }

    .form {
        display: grid;
        background-color: #f7f7f7;
        grid-template-rows: 0.2fr 1fr;
        row-gap: 2px;
    }

    .section {
        background-color: #f7f7f7;
    }

    .flex1 {
        display: grid;
        background-color: #f7f7f7;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 5px;
    }

    .flex {
        background-color: #f7f7f7;
    }

    /*  */

    .banner2 h2 {
        background-color: white;
        color: black;
        width: fit-content;
        opacity: 0.7;
    }

    input[type="button"] {
        background-color: #EFFDEE;
        border-color: darkgreen;
        color: darkgreen;
        font-family: ofl2;
        font-weight: bold;
        height: 30%;
        width: 30%;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #f7f7f7;
        border-top: darkgreen solid 3px;
        width: 100%;
        justify-self: center;
    }

    input[type="email"] {
        border-color: darkgreen;
        color: darkgreen;
        font-family: ofl2;
        font-weight: bold;
        height: 30%;
        width: 40%;
        text-align: center;
    }

    .circle {
        height: 80px;
        width: 80px;
        background-color: #E4FDE1;
        border-radius: 50%;
        text-align: center;
        align-items: center;
        justify-self: center;
        color: darkgreen;
        border: darkgreen 2px solid;
    }

    #black {
        background-color: black;
        color: white;
        opacity: 0.7;
    }

    div.banner {
        display: none;
    }

    p {
        padding: 20px 0;
    }

    .home,
    .pics,
    .blog,
    .about {
        display: grid;
        grid-template-rows: 1fr 1fr;
        background-color: #f7f7f7;
        justify-content: center;
    }

    .circle p {
        font-family: pacific;
    }

    .logo .text {
        font-size: larger;
        font-weight: bold;
        color: darkgreen;
        margin-top: 15%;
        font-family: ofl2;
        margin-left: 25%;
    }

    .img1 {
        background-image: url("img/home.png");
        background-position: right;
        background-size: 40px;
        margin-right: 5%;
        /* background-size: contain; */
        background-repeat: no-repeat;
    }

    .img2 {
        background-image: url("img/pics.png");
        /* background-position: right; */
        background-size: 40px;
        margin-right: 5%;
        background-repeat: no-repeat;
    }

    .img3 {
        background-image: url("img/blog.png");
        background-position: right;
        background-size: 40px;
        margin-right: 5%;
        background-repeat: no-repeat;
    }

    .img4 {
        background-image: url("img/About.webp");
        background-position: right;
        background-size: 40px;
        margin-right: 5%;
        background-repeat: no-repeat;
    }

    .flex {
        display: grid;
        grid-template-rows: 1fr 1fr;
        column-gap: 5px;

    }

    .i1 {
        background-image: url("img/golgappa.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .i2 {
        background-image: url("img/samosa.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .i3 {
        background-image: url("img/Masala-Dosa.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .i4 {
        background-image: url("img/butter_chicken.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .image1 {
        grid-column: 1 / span 3;
    }

    .banner {
        grid-column: 1;
    }

    table {
        background-color: #f7f7f7;
        padding: 0;
        margin: 0;
        font-size: larger;
        width: 100%;

    }

    .imagemail img {
        height: 50%;
        width: 50%;
    }

    .banner h2 {
        background-color: #f7f7f7;
        opacity: 0.7;
        width: fit-content;

    }

    .subs {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        align-items: center;
        grid-template-rows: none;
    }

    .table {
        align-self: center;
        padding: 0;
        margin: 0%;
    }

    .footer img {
        height: 40px;
        width: 6%;
        padding-right: 5px;
        float: right;
    }

    p {
        font-family: ofl;
    }

    h1 {
        color: darkgreen;
        font-family: pacific;
        font-size: x-large;
    }

    .text p {
        font-family: ofl;
        font-weight: bold;
    }

    th {
        margin: 0;
        padding: 0;
        height: 28px;
    }

    #t1 {
        background-color: #EFFDEE;
    }

    #t2 {
        background-color: #E4FDE1;
    }

    #t3 {
        background-color: #C6EDC3;
    }

    #t4 {
        background-color: #A7DCA5;

    }

    .left {
        font-family: ofl;
        font-weight: bold;

    }

    .part2 {
        display: none;

    }


    .extranav {
        display: none;
    }
}

@media only screen and (max-width: 700px) {

    .container {
        background-color: #f7f7f7;
        display: grid;
        height: 700px;
        grid-template-rows: 0.2fr 2fr 1fr 0.2fr;
        row-gap: 8px;
    }

    .img1,
    .img2,
    .img3,
    .img4 {
        display: none;
    }

    .main {

        background-image: url(img/indianfood2.jpg);
        background-position: center;
        background-size: cover;
        height: 200px;
        justify-content: baseline;
    }

    ul {
        text-decoration: none;
        list-style: none;
        display: inline-flex;
        width: 100%;
        background-color: #A7DCA5;
    }

    li {
        padding-left: 8%;
        padding-right: 2%;
    }

    .imagemail {
        display: none;
    }

    .item {
        background-color: #f7f7f7;
    }

    .form {
        display: grid;
        background-color: #f7f7f7;
        grid-template-rows: 0.2fr 1fr;
        row-gap: 2px;
    }

    .section {
        background-color: #f7f7f7;
    }

    .flex1 {
        display: grid;
        background-color: #f7f7f7;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 5px;
    }

    .flex {
        background-color: #f7f7f7;
    }

    /*  */

    .banner2 h2 {
        background-color: white;
        color: black;
        width: fit-content;
        opacity: 0.7;

    }

    input[type="button"] {
        background-color: #f7f7f7;
        border-color: darkgreen;
        color: darkgreen;
        font-family: ofl2;
        font-weight: bold;
        height: 30%;
        width: 30%;
    }

    table {
        display: none;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #f7f7f7;
        border-top: darkgreen solid 3px;
        width: 100%;
        justify-self: center;
    }

    input[type="email"] {
        border-color: darkgreen;
        color: darkgreen;
        font-family: ofl2;
        font-weight: bold;
        height: 30%;
        width: 40%;
        text-align: center;
    }

    .circle {
        margin-left: 40%;
        height: 80px;
        width: 80px;
        background-color: #E4FDE1;
        border-radius: 50%;
        text-align: center;
        align-items: center;
        justify-self: center;
        color: darkgreen;
        border: darkgreen 2px solid;

    }

    #black {
        background-color: black;
        color: white;
        opacity: 0.7;
    }

    div.banner {
        display: none;
    }

    p {
        padding: 20px 0;
    }

    .home,
    .pics,
    .blog,
    .about {
        display: none;
    }

    .circle p {
        font-family: pacific;
    }

    .logo .text {
        font-size: larger;
        font-weight: bold;
        color: darkgreen;
        margin-top: 15%;
        font-family: ofl2;
        margin-left: 25%;
    }

    .img1 {
        background-image: url("img/home.png");
        background-position: right;
        background-size: 40px;
        margin-right: 5%;
        /* background-size: contain; */
        background-repeat: no-repeat;
    }

    .img2 {
        background-image: url("img/pics.png");
        /* background-position: right; */
        background-size: 40px;
        margin-right: 5%;
        background-repeat: no-repeat;
    }

    .img3 {
        background-image: url("img/blog.png");
        background-position: right;
        background-size: 40px;
        margin-right: 5%;
        background-repeat: no-repeat;
    }

    .img4 {
        background-image: url("img/About.webp");
        background-position: right;
        background-size: 40px;
        margin-right: 5%;
        background-repeat: no-repeat;
    }

    .flex {
        display: grid;
        grid-template-rows: 1fr 1fr;
        column-gap: 5px;

    }

    .i1 {
        background-image: url("img/golgappa.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .i2 {
        background-image: url("img/samosa.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .i3 {
        background-image: url("img/Masala-Dosa.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .i4 {
        background-image: url("img/butter_chicken.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .image1 {
        grid-column: 1 / span 3;
    }

    .banner {
        grid-column: 1;
    }

    table {
        background-color: #f7f7f7;
        padding: 0;
        margin: 0;
        font-size: larger;
        width: 100%;

    }

    .imagemail img {
        height: 50%;
        width: 60%;
    }

    .banner h2 {
        background-color: #f7f7f7;
        opacity: 0.7;
        width: fit-content;

    }

    #other {
        display: grid;
        grid-template-columns: 0.2fr 1fr;
    }

    .subs {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        grid-template-rows: none;
    }

    .table {
        align-self: center;
        padding: 0;
        margin: 0%;
    }

    .footer img {
        height: 20px;
        width: 10%;
        padding-right: 5px;
        float: right;
    }

    p {
        font-family: ofl;
    }

    h1 {
        color: darkgreen;
        font-family: pacific;
        font-size: x-large;
    }

    .text p {
        font-family: ofl;
        font-weight: bold;
    }

    .left {
        font-family: ofl;
        font-weight: bold;

    }

    div.part2 {
        display: none;
    }
}